GEMINI_API_KEY=sua_chave_aqui
JIRA_EMAIL=marcos.vinicius@movingpay.com.br
JIRA_TOKEN=seu_token_jira_aqui
SLACK_TOKEN=seu_token_slack_aqui
SLACK_CHANNEL=C09SDGH8EBT
JIRA_ASSIGNEE_ID=712020:e1b18321-5808-4927-be15-24f3756422ab
